python-kis
python-dotenv
openai
bs4
langgraph
langchain
langchain-openai
jupyter
langchain-community

schedule
pyupbit
slack_sdk
fastapi
uvicorn[standard]
gunicorn
PyJWT
email-validator

langchain_google_genai
pytz
google

langchain-opentutorial

langgraph
langsmith
langchain-tavily

# MySQL
pymysql

# Macro Trading
fredapi
pandas
numpy